<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.thelogicfactor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_brain"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".EasyQuestions" android:label="@string/textView_easy_question" />
        <activity android:name=".SettingsActivity" android:label="@string/action_settings" />
        <activity android:name=".QuestionActivity" android:label="@string/textView_question" />
        <activity android:name=".NormalQuestions" android:label="@string/textView_normal_question" />
        <activity android:name=".HardQuestions" android:label="@string/textView_hard_question" />
        <activity android:name=".TrainingActivity" android:label="@string/button_trainPlayers" />
        <activity android:name=".AchievmentsActivity" android:label="@string/button_achivements"/>
    </application>

</manifest>